$tamanyo:12px;

body{
    margin: 10px;
    font-size: $tamanyo;

}

form ul {
    list-style-type: none;
}

/*input{
    width: 100%;
    height: 30px;
}
*/
.container-fluid {
    background-color: rgb(215, 229, 250);

}
.container-fluid form ul li{
    margin: 10px;
}
body{
    background-color: beige;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nombre{
    width: 50%;
}

#correo{
    width: 50%;
}
#rut{
    width: 50%;
}
#telefono{
    width: 50%;
}



